<template>
    <div>
        <v-container>
            <v-snackbar :timeout="6000" :color="'warning'" :multi-line="'multi-line'" top v-model="snackbar">
                [ Note ] This is a demo page. The form values will not be submitted to the database!
                <v-btn flat @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>
            <v-snackbar :timeout="6000" :color="'danger'" :multi-line="'multi-line'" top v-model="snackbarErr">
                <span class="pink--text">{{errors.message}}</span>
                <v-btn flat @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>
            <v-toolbar dark color="primary">
                <v-toolbar-title class="white--text">Admission</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-progress-circular v-if="loading" indeterminate color="white"></v-progress-circular>
                <v-btn icon @click="clear()">
                    <v-icon>refresh</v-icon>
                </v-btn>
            </v-toolbar>
            <template>
                <v-stepper v-model="stepper">
                    <v-stepper-header>
                        <v-stepper-step :complete="stepper > 1" step="1" editable>Basic Details</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step :complete="stepper > 2" step="2" editable>In school address</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step step="3" editable>Secondary Information</v-stepper-step>
                    </v-stepper-header>
                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <!-- card -->
                            <v-card>

                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <!-- row -->
                                        <v-flex xs12 md4>
                                            <v-text-field :rules="[v => !!v || 'First name is required',]" :class="{'input-group--error error--text' : !!err.first_name }" v-model="student.first_name" label="First name"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md4>
                                            <v-text-field :rules="[v => !!v || 'Last name is required',]" :class="{'input-group--error error--text' : !!err.last_name }" v-model="student.last_name" label="Last name"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md4>
                                            <v-text-field :class="{'input-group--error error--text' : !!err.surname }" v-model="student.surname" label="Surname"></v-text-field>
                                        </v-flex>
                                        <!-- row -->
                                        <v-flex xs12 md8>
                                            <v-radio-group label="Gender" :rules="[v => !!v || 'Gender is required',]" :class="{'input-group--error error--text' : !!err.gender }" v-model="student.gender">
                                                <v-radio label="Male" value="male"></v-radio>
                                                <v-radio label="Female" value="female"></v-radio>
                                            </v-radio-group>
                                        </v-flex>
                                        <v-flex xs12 md4>
                                            <v-text-field v-model="student.regNo" :class="{'input-group--error error--text' : !!err.regNo }" label="RegNo"></v-text-field>
                                        </v-flex>
                                        <!-- row -->
                                        <v-flex xs12 md6>
                                            <v-menu ref="dateMenu" :close-on-content-click="false" v-model="dateMenu" :nudge-right="40" :return-value.sync="student.date"
                                                lazy transition="scale-transition" offset-y full-width min-width="290px">
                                                <v-text-field :rules="[v => !!v || 'Date of birth is required',]" slot="activator" :class="{'input-group--error error--text' : !!err.date_of_birth }" v-model="student.date_of_birth" label="Date of birth" prepend-icon="event" readonly></v-text-field>
                                                <v-date-picker v-model="student.date_of_birth" @input="$refs.dateMenu.save(student.date)"></v-date-picker>
                                            </v-menu>
                                        </v-flex>
                                        <v-flex xs12 md6>
                                            <v-text-field v-model="student.birth_cert_no" label="Birth certificate number"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>

                            </v-card>
                            <!-- /card -->
                            <v-btn color="primary" @click.native="stepper = 2">Continue</v-btn>
                            <v-btn flat>Cancel</v-btn>
                        </v-stepper-content>
                        <v-stepper-content step="2">
                            <v-card>
                                <v-container grid-list-xl>
                                    <v-layout wrap>
                                        <!-- row -->
                                        <v-flex xs12 md6>
                                            <v-select :items="SCL_Classes" :rules="[v => !!v || 'Class is required',]" :class="{'input-group--error error--text' : !!err.class }" item-value="id" item-text="name" v-model="student.class" label="Select Class" single-line></v-select>
                                        </v-flex>
                                        <v-flex xs12 md6>
                                            <v-select :items="SCL_Streams" :rules="[v => !!v || 'Stream is required',]" :class="{'input-group--error error--text' : !!err.stream }" item-value="id" item-text="name" v-model="student.stream" label="Select stream" single-line></v-select>
                                        </v-flex>
                                        <!-- row -->
                                        <v-flex xs12 md6>
                                            <v-select disabled :items="SCL_Classes" v-model="student.dormitory" label="Dormitory" single-line></v-select>
                                        </v-flex>
                                        <v-flex xs12 md6>
                                            <v-select disabled :items="SCL_Classes" v-model="student.roomNumber" label="Room Number" single-line></v-select>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                            <v-btn color="primary" @click.native="stepper = 3">Continue</v-btn>
                            <v-btn flat>Cancel</v-btn>
                        </v-stepper-content>
                        <v-stepper-content step="3">
                            <v-card>
                                <v-container grid-list-xl>
                                    <v-layout wrap>
                                        <!-- row -->
                                        <v-flex xs12 md6>
                                            <v-text-field :rules="[v => !!v || 'Physical address is required',]" label="Physical address" v-model="student.physical_address" hint="Name of your home address"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md6>
                                            <v-text-field label="Previous school" v-model="student.previous_school" hint="Name of previous school"></v-text-field>
                                        </v-flex>
                                        <!-- row -->
                                        <v-flex xs12 md6>
                                            <v-text-field label="Reason for transfer" :class="{'input-group--error error--text' : !!err.reason_for_transfer }" v-model="student.reason_for_transfer"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md6>
                                            <v-text-field label="Entry mark" v-model="student.entry_score"></v-text-field>
                                        </v-flex>
                                        <!-- row -->
                                        <v-flex xs12 md6>
                                            <v-text-field :rules="[v => !!v || 'Parent\'s/Guardian\'s name is required',]" label="Parent's Fullname" :class="{'input-group--error error--text' : !!err.guardian_full_name }" v-model="student.guardian_full_name"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md6>
                                            <v-text-field :rules="[v => !!v || 'Phone Number is required',]" :class="{'input-group--error error--text' : !!err.phone_number }" label="Phone number" v-model="student.phone_number" hint="Parent or guardian's phone number"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                            <v-btn color="primary" @click="submit()">Submit</v-btn>
                            <v-btn flat>Cancel</v-btn>
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
            </template>
        </v-container>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                student: {
                    gender: 'male',
                    first_name: 'optimus',
                    last_name: 'prime',
                    surname: 'bumbabay',
                    date_of_birth:'2018-10-7',
                    regNo: '12478',
                    class: '1',
                    stream: '1',
                    birth_cert_no:'birth No',
                    physical_address:'',
                    previous_school:'',
                    entry_score:'',
                    entry_grade:'',
                    reason_for_transfer:'Graduated',
                    guardian_full_name:'niggaa',
                    phone_number:'0899766500'
                },
                errors:{},
                err:{},
                dateMenu: false,
                stepper: 0,
                snackbar: false,
                snackbarErr: false,
                loading:false
            }
        },
        methods: {
            clear() {
                // loop through the object and clear all the values
                Object.keys(this.student).forEach(key => this.student[key] = '')
            },
            submit() {
                this.loading = true
                axios.post('api/student',this.student).then( resp => {
                    swal('Student added!', 'Details have been successfully submited', 'success')
                    this.loading = false
                        })
                .catch( err => {
                    if(err.response.status == 422){
                        this.errors = err.response.data;
                        this.err = err.response.data.errors
                        this.snackbarErr = true
                        console.log(this.errors)
                        swal('Error', 'Check the details', 'warning')
                        this.loading = false
                    }
                })
            }
        },
        computed: {
            SCL_Classes() {
                return this.$store.state.globals.base_classes
            },
            SCL_Streams() {
                return this.$store.state.globals.base_streams
            }
        },
        created: function () {
            setTimeout(() => {
                this.snackbar = true
            }, 1000)
        }
    }
</script>