<template>
    <v-app>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 md3>
                    <v-card color="blue-grey darken-2" class="white--text">
                        <v-card-title primary-title>
                            <div class="headline">Students</div>
                            <div>Lorem ipsum dolor sit amet.</div>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn dark color="pink">Learn More</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
                <v-flex xs12 md3>
                    <v-card color="blue-grey darken-2" class="white--text">
                        <v-card-title primary-title>
                            <div class="headline">Staff</div>
                            <div>Lorem ipsum dolor sit amet.</div>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn dark color="pink">Learn More</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
                <v-flex xs12 md3>
                    <v-card color="blue-grey darken-2" class="white--text">
                        <v-card-title primary-title>
                            <div class="headline">Subjects</div>
                            <div>Lorem ipsum dolor sit amet.</div>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn dark color="pink">Learn More</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
                <v-flex xs12 md3>
                    <v-card color="blue-grey darken-2" class="white--text">
                        <v-card-title primary-title>
                            <div class="headline">Fee</div>
                            <div>Lorem ipsum dolor sit amet.</div>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn dark color="pink">Learn More</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>

</template>
<script>
export default {
    // TODO
    // update cards with data form db
}
</script>
