<template>
    <div>
        <v-container>
            <h1>Fee </h1>
            <p>Collection</p>
            <p>Accounts</p>
        </v-container>
    </div>
</template>

<script>
export default {

}
</script>
