<template>
    <div>
        <!-- navigation drawer -->
        <v-navigation-drawer v-model="drawer" v-if="isAuthenticated" :dark="isDark" fixed class="osp-scrollbar-style-2-v" app clipped="">
            <v-list>

                <!-- login -->
                <v-list-tile v-if="!isAuthenticated" :to="{path : 'Login'}">
                    <v-list-tile-action>
                        <v-icon>input</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Login</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <!-- home -->
                <v-list-tile v-if="!isAuthenticated" :to="{path : '/'}">
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <!-- dashboard -->
                <v-list-tile :to="{path : 'Dashboard'}">
                    <v-list-tile-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Dashboard</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <!-- students -->
                <v-list-group prepend-icon="account_circle">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Students</v-list-tile-title>
                    </v-list-tile>
                    <!-- student submenu -->
                    <div style="border-left: solid 5px teal">
                        <v-list-tile :to="{path : 'Admission'}">
                            <v-list-tile-title> Admission</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>add</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile :to="{path : 'StudentList'}">
                            <v-list-tile-title> Student List</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>subject</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </div>
                </v-list-group>

                <!-- Staff -->
                <v-list-group prepend-icon="people">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Staff</v-list-tile-title>
                    </v-list-tile>
                    <!-- Staff submenu -->
                    <div style="border-left: solid 5px teal">
                        <v-list-tile :to="{path : 'TeachingStaff'}">
                            <v-list-tile-title> Teaching</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>account_box</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile :to="{path : 'NonTeachingStaff'}">
                            <v-list-tile-title> Non-Teaching</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>perm_identity</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </div>
                </v-list-group>

                <!-- Academics -->
                <v-list-group prepend-icon="school">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Academics</v-list-tile-title>
                    </v-list-tile>
                    <!-- academics submenu -->
                    <div style="border-left: solid 5px teal">
                        <v-list-tile :to="{path : 'Subjects'}">
                            <v-list-tile-title> Subjects</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>subject</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile :to="{path : 'Exams'}">
                            <v-list-tile-title> Exams </v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>filter_none</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile :to="{path : 'Analysis'}">
                            <v-list-tile-title> Analysis </v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>insert_chart</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile :to="{path : 'Promotion'}">
                            <v-list-tile-title> Promotion </v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>arrow_upward</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </div>
                </v-list-group>

                <!-- Finance -->
                <v-list-group prepend-icon="credit_card">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Finance</v-list-tile-title>
                    </v-list-tile>
                    <!-- Finance submenu -->
                    <div style="border-left: solid 5px teal">
                        <v-list-tile :to="{path : 'Fee'}">
                            <v-list-tile-title> Fee </v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>attach_money</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile :to="{path : 'Balances'}">
                            <v-list-tile-title> Balances </v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>account_balance</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </div>
                </v-list-group>

                <!-- Settings -->
                <v-list-group prepend-icon="settings">
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Settings</v-list-tile-title>
                    </v-list-tile>
                    <!-- Settings submenu -->
                    <div style="border-left: solid 5px teal">
                        <v-list-tile :to="{path : 'SettingsGeneral'}">
                            <v-list-tile-title> General </v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>settings_applications</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile :to="{path : 'Backups'}">
                            <v-list-tile-title> Backups </v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>cloud_upload</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </div>
                </v-list-group>

                <v-divider class="mt-3"></v-divider>
                <!-- logout -->
                <v-list-tile v-if="isAuthenticated" @click="logout()">
                    <v-list-tile-action>
                        <v-icon>settings_power</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Logout</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-action>
                        <v-switch v-model="isDark" color="primary"></v-switch>
                    </v-list-tile-action>
                    <v-list-tile-title>Toogle Theme</v-list-tile-title>
                </v-list-tile>
            </v-list>

        </v-navigation-drawer>

        <!-- toolbar -->
        <v-toolbar color="teal" dark fixed app clipped-left dense>
            <v-toolbar-side-icon v-if="isAuthenticated" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>
                <a style="text-decoration:none" class="white--text" href="#/">SchooLi</a>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn v-if="!isAuthenticated" :to="{path : 'Login'}" flat>Login</v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </div>
</template>

<script>
    import {
        mapGetters
    } from 'vuex'
    export default {
        data() {
            return {
                drawer: null,
                isDark: true,
            }
        },
        methods: {
            logout() {
                axios.get('api/logout').then(resp => {
                    this.$store.dispatch('logout')
                }).catch(err => {
                    // still logout the user in the front end if the ajax request fails
                    this.$store.dispatch('logout')
                    console.log(err);
                })
            }
        },
        computed: {
            ...mapGetters(['isAuthenticated']),
            token() {
                return this.$store.state.scl_token
            },
        },
        created() {
            this.$store.dispatch('globals/get_classes_globals')
        }
    }

</script>

<style scoped>
    .osp-scrollbar-style-2-v::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
        /*border-radius: 10px;*/
        background-color: #F5F5F5;
    }

    .osp-scrollbar-style-2-v::-webkit-scrollbar {
        width: 8px;
        /*height: 10px;*/
        background-color: #F5F5F5;
    }

    .osp-scrollbar-style-2-v::-webkit-scrollbar-thumb {
        /*border-radius: 10px;*/
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .7);
        background-color: #00897B;
    }

</style>
