<template>
    <div>
        <v-jumbotron class="bg-image" dark>
            <v-container fill-height>
                <v-layout>
                    <v-flex>
                        <v-card style="background-color:rgba(0,0,0,0.7)">
                            <v-card-text>
                                <h3 class="display-3">Welcome to Schooli</h3>
                                <span class="title accent--text">An open source school management softwere bult with
                                    laravel, vue js and Vuetify. </span>
                                <v-divider class="my-3"></v-divider>
                                <div class="title mb-3">Continue To Dashboard</div>
                                <v-btn large color="primary" :to="{path : 'Login'}" class="mx-0">Login</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-jumbotron>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>


</style>
