<template>
    <div>
        <v-toolbar class="bg-image" dark color="primary" height="150px" flat extended>
        </v-toolbar>
        <v-container>
            <v-layout row pb-2>
                <v-flex md4 offset-md4>
                    <v-card flat class="elevation-7" style="margin-top: -150px">
                        <v-snackbar :timeout="6000" :color="snackbarColor" :multi-line="'multi-line'" top v-model="snackbar">
                            <span class="yellow--text">{{ text }}</span>
                            <v-btn flat @click.native="snackbar = false" color="pink">Close</v-btn>
                        </v-snackbar>

                        <v-toolbar color="primary" dark>
                            <v-card-title class="headline">
                                Login</v-card-title>
                            <v-spacer></v-spacer>
                            <v-progress-circular v-if="loading" indeterminate color="white"></v-progress-circular>
                        </v-toolbar>

                        <v-form ref="form" v-model="valid" lazy-validation>
                            <v-card-text>
                                <v-text-field v-model="email" :rules="emailRules" label="E-mail" name="email" required></v-text-field>
                                <v-text-field v-model="password" :rules="passwordRules" :append-icon="e1 ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (e1 = !e1)"
                                    :type="e1 ? 'password' : 'text'" name="password" label="Enter your password"></v-text-field>
                            </v-card-text>

                            <v-card-actions>
                                <v-btn flat color="primary" :disabled="!valid" @click="submit">
                                    submit
                                </v-btn>
                                <v-btn flat color="primary" @click="clear">clear</v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        data: () => ({
            valid: true,
            snackbar: false,
            loading: false,
            snackbarColor: 'error',
            text: '',
            e1: true,
            password: '123456',
            passwordRules: [
                v => !!v || 'password is required',
            ],
            email: 'schooli@swiftintellect.org',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
        }),
        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.text = '[ Note ] You will need to be logged in to view the core resources!'
                vm.snackbar = true
                vm.snackbarColor = ''
            })
        },
        methods: {
            submit() {
                if (this.$refs.form.validate()) {
                    // Native form submission is not yet supported
                    this.loading = true;
                    axios.post('/api/login', {
                        email: this.email,
                        password: this.password,
                    }).then(response => {
                        this.token = response.data.token;
                        if (this.token) {
                            this.$store.dispatch('set_token', this.token);
                            this.$router.push('Dashboard');
                        }
                    }).catch(response => {
                        console.log(response);
                        this.text = "Authentication Failed (Check your credentials)";
                        this.snackbarColor = 'error'
                        this.snackbar = true;
                        this.loading = false;
                    })
                }
            },
            clear() {
                this.$refs.form.reset()
                // this.$vuetify.theme.primary = '#4caf50'
            }
        }
    }

</script>
