<template>
    <div>
        <v-container>
            <v-snackbar top :timeout="3000" v-model="snackbar">
                {{'Click on a value to edit it'}}
                <v-btn dark flat color="pink" @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>
            <!-- edit dialog -->
            <v-dialog v-model="editDialog" max-width="650px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Edit Details</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-lg>
                            <v-layout wrap>
                                <v-flex xs6 sm6 md8>
                                    <v-avatar>
                                        <img src="/images/uploads/profile.jpg" alt="Avatar">
                                    </v-avatar>
                                </v-flex>
                                <v-flex xs6 sm6 md4>
                                    <v-text-field v-model="studentData.regNo" label="RegNo"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.first_name" label="First Name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.last_name" label="Last Name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.surname" label="Surname"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-select :items="SCL_Classes" v-model="studentData.baseClassId" label="Class" item-value="id" item-text="name" single-line></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-select :items="SCL_Streams" v-model="studentData.baseClassId" label="Stream" item-value="id" item-text="name" single-line></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.previous_school" label="Previous School"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.entry_score" label="Entry Score"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.reason_for_transfer" label="Reason for transfer"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.physical_address" label="Physical Address"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="studentData.phone_number" label="Phone Number" hint="parent's/Guardian's"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="accent" flat @click.native="delete_student(studentData)">Delete</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="editDialog = false">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="update_details()">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!-- details dialog -->
            <v-dialog v-model="dialog" max-width="650">
                <form @submit.prevent="update_details()">
                    <input type="hidden" name="_method" value="PUT">
                    <v-card>
                        <v-container fluid grid-list-lg>
                            <v-layout wrap>
                                <v-flex xs12 md5>
                                    <v-card-media src="/images/uploads/profile.jpg" height="125px" contain></v-card-media>
                                </v-flex>
                                <v-flex xs12 md7 class="text-md-left text-xs-center">
                                    <div>
                                        <div class="headline">{{studentData.fullName}} {{studentData.surname}}</div>
                                        <div class="grey--text">{{studentData.gender}}</div>
                                        <div class="grey--text">{{studentData.className}} {{studentData.streamName}}</div>
                                        <div class="grey--text">RegNo {{studentData.regNo}}</div>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-container>

                        <v-container>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md6>
                                    <v-list two-line>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">person</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Parent/Guardian</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    <v-edit-dialog :return-value.sync="studentData.guardian_full_name" lazy> {{ studentData.guardian_full_name }}
                                                        <v-text-field slot="input" hint="edit" v-model="studentData.guardian_full_name" :rules="[max25chars]" label="Edit" single-line
                                                            counter></v-text-field>
                                                    </v-edit-dialog>
                                                </v-list-tile-title>
                                                <!-- <v-list-tile-title>{{studentData.guardian_full_name}}</v-list-tile-title> -->
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">phone</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Phone</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    <v-edit-dialog :return-value.sync="studentData.phone_number" lazy> {{ studentData.phone_number }}
                                                        <v-text-field slot="input" hint="edit" v-model="studentData.phone_number" :rules="[max25chars]" label="Edit" single-line
                                                            counter></v-text-field>
                                                    </v-edit-dialog>
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">center_focus_strong</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Birth Certificate Number</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    <v-edit-dialog :return-value.sync="studentData.birth_cert_number" lazy> {{ studentData.birth_cert_number }}
                                                        <v-text-field slot="input" hint="edit" v-model="studentData.birth_cert_number" :rules="[max25chars]" label="Edit" single-line
                                                            counter></v-text-field>
                                                    </v-edit-dialog>
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">location_on</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Physical Address</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    <v-edit-dialog :return-value.sync="studentData.physical_address" lazy> {{ studentData.physical_address }}
                                                        <v-text-field slot="input" hint="edit" v-model="studentData.physical_address" :rules="[max25chars]" label="Edit" single-line
                                                            counter></v-text-field>
                                                    </v-edit-dialog>
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </v-list>
                                </v-flex>
                                <v-flex xs12 sm12 md6>
                                    <v-list two-line>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">business</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Previous School</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    <v-edit-dialog :return-value.sync="studentData.previous_school" lazy> {{ studentData.previous_school }}
                                                        <v-text-field slot="input" hint="edit" v-model="studentData.previous_school" :rules="[max25chars]" label="Edit" single-line
                                                            counter></v-text-field>
                                                    </v-edit-dialog>
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">assessment</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Entry score</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    <v-edit-dialog :return-value.sync="studentData.entry_score" lazy> {{ studentData.entry_score }}
                                                        <v-text-field slot="input" hint="edit" v-model="studentData.entry_score" :rules="[max25chars]" label="Edit" single-line counter></v-text-field>
                                                    </v-edit-dialog>
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">list</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Reason for transfer</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    <v-edit-dialog :return-value.sync="studentData.reason_for_transfer" lazy> {{ studentData.reason_for_transfer }}
                                                        <v-text-field slot="input" hint="edit" v-model="studentData.reason_for_transfer" :rules="[max25chars]" label="Edit" single-line
                                                            counter></v-text-field>
                                                    </v-edit-dialog>
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </v-list>
                                </v-flex>
                            </v-layout>
                        </v-container>

                        <v-divider></v-divider>
                        <v-card-actions>
                            <v-btn color="accent" flat @click.native="delete_student(studentData)">Delete</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" flat="flat" type="submit">Edit Details</v-btn>
                            <v-btn color="green darken-1" flat="flat" @click.native="dialog = false">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </form>
            </v-dialog>

            <!-- card -->
            <v-card>
                <v-card-title>
                    Student List
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="search" label="Search" hint="Type in keywords here to filter data" color="teal"></v-text-field>
                    <v-btn flat icon color="primary" @click="getStudentList()">
                        <v-icon>cached</v-icon>
                    </v-btn>
                </v-card-title>
                <v-data-table :headers="headers" :items="StudentList" class="elevation-1" loading="true" :pagination.sync="pagination" :search="search"
                    :rows-per-page-items="[10,20,{'text':'All','value':-1}]">

                    <v-progress-linear v-if="!listLoaded" slot="progress" color="primary" indeterminate></v-progress-linear>
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.regNo }}</td>
                        <td class="text-xs-left">{{ props.item.fullName }}</td>
                        <td class="text-xs-left">{{ props.item.className }}</td>
                        <td class="text-xs-left">{{ props.item.streamName }}</td>
                        <td class="text-xs-left">{{ props.item.gender }}</td>
                        <td class="text-xs-left">{{ props.item.guardian_full_name }}</td>
                        <td class="text-xs-left">{{ props.item.phone_number }}</td>
                        <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="open_dialog(props.item)">
                                <v-icon color="indigo">more</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="open_editDialog(props.item)">
                                <v-icon color="primary">edit</v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
                <div class="text-xs-center pt-2">
                    <v-pagination class="hidden-sm-and-down" v-model="pagination.page" :length="pages" :total-visible="10"></v-pagination>
                    <v-pagination class="hidden-md-and-up" v-model="pagination.page" :length="pages" :total-visible="4"></v-pagination>
                </div>
            </v-card>
        </v-container>
    </div>

</template>
<script>
    export default {
        data() {
            return {
                token: this.$store.state.scl_token,
                studentData: {},
                dialog: false,
                snackbar: false,
                editDialog: false,
                max25chars: (v) => v.length <= 25 || 'Input too long!',
                search: '',
                pagination: {},
                headers: [{
                        text: 'regNo',
                        align: 'left',
                        value: 'regNo'
                    },
                    {
                        text: 'Name',
                        value: 'fullName'
                    },
                    {
                        text: 'Class',
                        value: 'className'
                    },
                    {
                        text: 'Stream',
                        value: 'streamName'
                    },
                    {
                        text: 'Gender',
                        value: 'gender'
                    },
                    {
                        text: 'Guardian',
                        value: 'guardian_full_name'
                    },
                    {
                        text: 'Phone',
                        value: 'phone_number'
                    },
                    {
                        text: 'Actions',
                        value: 'actions',
                        sortable: false,
                    }
                ],
                listLoaded: false,
                StudentList: [],
            }
        },
        computed: {
            pages() {
                if (this.pagination.rowsPerPage == null ||
                    this.pagination.totalItems == null
                ) return 0

                return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
            },
            SCL_Classes() {
                return this.$store.state.globals.base_classes
            },
            SCL_Streams() {
                return this.$store.state.globals.base_streams
            }
        },
        created() {
            this.getStudentList();
        },
        watch: {
            dialog: function () {
                this.snackbar = this.dialog;
            }
        },
        methods: {
            open_dialog(studentData) {
                this.studentData = studentData;
                this.dialog = true;
            },
            open_editDialog(studentData) {
                this.studentData = studentData;
                this.editDialog = true;
            },
            getStudentList() {
                this.listLoaded = false;
                axios.get('api/student').then(response => {
                    this.StudentList = response.data;
                    this.listLoaded = true;
                }).catch(err => console.log(err))
            },
            update_details() {
                axios.put('api/student/' + this.studentData.id, {
                    data: this.studentData
                }).then(response => {
                    console.log(response.data);
                    swal('Updated', 'The student details have been edited', 'success')
                }).catch(err => console.log(err))
            },
            delete_student(student) {
                swal({
                        title: "Delete "+ student.fullName,
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`api/student/${student.id}`)
                                .then(res => {
                                    swal('Deleted', student.fullName +' has been removed', 'success');
                                    this.getStudentList();
                                })
                        }
                    });
            }
        },
    }

</script>
