<template>
    <div>
        <v-container>
            <div>
                <v-toolbar flat dark color="primary">
                    <v-toolbar-title>Subjects</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn @click="open_addDialog()">
                        New Subject
                        <v-icon>add</v-icon>
                    </v-btn>
                    <v-btn icon @click="getSubjects()">
                        <v-icon>cached</v-icon>
                    </v-btn>

                    <!-- Add dialog -->
                    <v-dialog v-model="addDialog" max-width="500px">
                        <v-card>
                            <v-card-title>
                                <span class="headline">Add Subject</span>
                            </v-card-title>

                            <v-card-text>

                                <v-snackbar :timeout="6000" color="dark" :multi-line="'multi-line'" top v-model="err.message">
                                    <span class="yellow--text">{{ err.message }}</span>
                                </v-snackbar>

                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field :rules="[v => !!v || 'the Subject Code address is required',]" :class="{'input-group--error error--text' : !!err.subject_code }"
                                                v-model="newSubjectData.subject_code" label="Code"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field :rules="[v => !!v || 'Subject name address is required',]" :class="{'input-group--error error--text' : !!err.name }"
                                                v-model="newSubjectData.name" label="Name"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field :rules="[v => !!v || 'An abbreviation address is required',]" :class="{'input-group--error error--text' : !!err.abbreviation }"
                                                v-model="newSubjectData.abbreviation" label="Abbreviation"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="newSubjectData.group" label="group"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md12>
                                            <v-radio-group label="Designation" v-model="newSubjectData.compulsory">
                                                <v-radio label="Compulsory" value=true></v-radio>
                                                <v-radio label="Optional" value=false></v-radio>
                                            </v-radio-group>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="addDialog = false">Cancel</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="saveSubject()">
                                    <span v-if="!addingSubject">Save</span>
                                    <v-progress-circular v-if="addingSubject" indeterminate color="primary"></v-progress-circular>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- details dialog -->
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{subjectData.name}}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="subjectData.code" label="Code"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="subjectData.name" label="Name"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="subjectData.abbreviation" label="Abbreviation"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4>
                                            <v-text-field v-model="subjectData.group" label="group"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-divider></v-divider>
                                    <span class="headline">Subject Teachers</span>
                                    <v-list>
                                        <v-list-tile v-for="teacher in teachers" :key="teacher.id" avatar @click="0">
                                            <v-list-tile-avatar>
                                                <img src="images/uploads/profile1.jpg">
                                            </v-list-tile-avatar>

                                            <v-list-tile-content>
                                                <v-list-tile-title v-text="teacher.name"></v-list-tile-title>
                                            </v-list-tile-content>

                                            <v-list-tile-action>
                                                <v-btn icon>
                                                    <v-icon color="accent">remove_circle</v-icon>
                                                </v-btn>
                                            </v-list-tile-action>
                                        </v-list-tile>
                                    </v-list>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-btn color="accent" flat @click.native="delete_subject(subjectData)">Delete</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="dialog = false">Cancel</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                </v-toolbar>
                <v-data-table :headers="headers" :items="subjects" class="elevation-1" loading="true" :search="search" :rows-per-page-items="[15,25,{'text':'All','value':-1}]">
                    <v-progress-linear v-if="!listLoaded" slot="progress" color="primary" indeterminate></v-progress-linear>
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.code }}</td>
                        <td class="text-xs-left">{{ props.item.name }}
                            <v-icon v-if="props.item.compulsory == 1" color="primary">fiber_manual_record</v-icon>
                        </td>
                        <td class="text-xs-left">{{ props.item.abbreviation }}</td>
                        <td class="text-xs-left">{{ props.item.group }}</td>
                        <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="open_dialog(props.item)">
                                <v-icon color="indigo">more</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="open_editDialog(props.item)">
                                <v-icon color="primary">edit</v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
            </div>
        </v-container>
    </div>
</template>

<script>
    export default {
        data: () => ({
            dialog: false,
            addDialog: false,
            search: '',
            listLoaded: false,
            addingSubject: false,
            headers: [{
                    text: 'Code',
                    align: 'left',
                    value: 'code'
                },
                {
                    text: 'Name',
                    value: 'name'
                },
                {
                    text: 'Abbr',
                    value: 'abbreviation'
                },
                {
                    text: 'group',
                    value: 'group'
                },
                {
                    text: 'Action',
                    value: 'Action',
                    align: 'right',
                    sortable: false
                }
            ],
            subjects: [],
            subjectData: {},
            newSubjectData: {},
            err: {},
            teachers: [{
                id: 1,
                name: 'optimus'
            }, {
                id: 2,
                name: 'prime'
            }, ]
        }),

        computed: {},

        watch: {},

        created() {
            this.getSubjects()
        },

        methods: {
            getSubjects() {
                this.listLoaded = false;
                axios.get('api/subject').then(response => {
                    this.subjects = response.data;
                    this.listLoaded = true;
                }).catch(err => console.log(err) /*swal('Awww, snap!', 'Something Went Wrong','warning')*/ )
            },
            saveSubject() {
                this.addingSubject = true
                console.log(this.newSubjectData)
                axios.post('api/subject', this.newSubjectData)
                    .then(response => {
                        this.addingSubject = false
                        swal('Subject added!', 'Details have been successfully submited', 'success')
                        this.getSubjects()

                    })
                    .catch(err => {
                        console.log(err.response.data)
                        this.err = err.response.data.errors
                        this.addingSubject = false
                    })
            },
            open_dialog(subject) {
                this.dialog = true
                this.subjectData = subject
            },
            open_addDialog() {
                this.addDialog = true;
            },
            delete_subject(subject) {
                swal({
                        title: "Delete " + subject.name,
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`api/subject/${subject.id}`)
                                .then(res => {
                                    swal('Deleted', subject.name + ' has been removed', 'success');
                                    this.getSubjects();
                                    this.dialog = false
                                })
                        }
                    });
            },
        }
    }

</script>
