<template>
    <div>
        <v-container>
            <v-toolbar flat dark color="primary">
                <v-toolbar-title>Teachers</v-toolbar-title>
                <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-btn @click="open_addDialog()">
                    New Teacher
                    <v-icon>add</v-icon>
                </v-btn>
                <v-btn icon @click="getTeachers()">
                    <v-icon>cached</v-icon>
                </v-btn>
            </v-toolbar>
            <template>
                <v-data-table :headers="headers" :items="Teachers" :loading="!listLoaded" class="elevation-1">
                    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.username }}</td>
                        <td class="text-xs-left">{{ props.item.first_name }} {{ props.item.last_name }}</td>
                        <td class="text-xs-left">{{ props.item.email }}</td>
                        <td class="text-xs-right">
                            <v-btn color="primary" @click="open_dialog(props.item)"> manage</v-btn>
                        </td>
                    </template>
                </v-data-table>
            </template>

            <!-- edit dialog -->
            <v-dialog v-model="editDialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Edit {{TeachersData.first_name}}</span>
                    </v-card-title>

                    <v-card-text>

                        <v-snackbar :timeout="6000" color="dark" :multi-line="'multi-line'" top v-model="err.message">
                            <span class="yellow--text">{{ err.message }}</span>
                        </v-snackbar>

                        <v-container grid-list-md>
                            <v-layout wrap>
                                <!-- row -->
                                <v-flex xs12 md4>
                                    <v-avatar size="36px">
                                        <img v-if="!!TeachersData.profile_picture" :src="'/images/uploads/'+TeachersData.profile_picture">
                                        <img v-else src="/images/uploads/profile.jpg">
                                        <span class="info--text"> Edit</span>
                                    </v-avatar>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-text-field :rules="[v => !!v || 'First name is required',]" :class="{'input-group--error error--text' : !!err.first_name }"
                                        v-model="TeachersData.first_name" label="First name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-text-field :rules="[v => !!v || 'Last name is required',]" :class="{'input-group--error error--text' : !!err.last_name }"
                                        v-model="TeachersData.last_name" label="Last name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-text-field :rules="[v => !!v || 'Username is required',]" :class="{'input-group--error error--text' : !!err.username }"
                                        v-model="TeachersData.username" label="username"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field :rules="[v => !!v || 'email is required',]" :class="{'input-group--error error--text' : !!err.email }"
                                        v-model="TeachersData.email" label="email"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field :rules="[v => !!v || 'Phone number is required',]" :class="{'input-group--error error--text' : !!err.phone_number }"
                                        v-model="TeachersData.phone_number" label="Phone number"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field v-model="TeachersData.passport" :rules="[v => !!v || 'Passport/Id number is required',]"
                                        :class="{'input-group--error error--text' : !!err.passport }" label="Passport / Id Number"></v-text-field>
                                </v-flex>
                                <!-- row -->
                                <v-flex xs12 md12>
                                    <v-radio-group label="Gender" :rules="[v => !!v || 'Gender is required',]" :class="{'input-group--error error--text' : !!err.gender }"
                                        v-model="TeachersData.gender">
                                        <v-radio label="Male" value="male"></v-radio>
                                        <v-radio label="Female" value="female"></v-radio>
                                    </v-radio-group>
                                </v-flex>
                                <!-- row -->
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="editDialog = false">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="editTeacher()">
                            <span v-if="!addingTeacher">Save</span>
                            <v-progress-circular v-if="addingTeacher" indeterminate color="primary"></v-progress-circular>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <!-- // add dialog  -->
            <v-dialog v-model="addDialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Add Teacher</span>
                    </v-card-title>

                    <v-card-text>

                        <v-snackbar :timeout="6000" color="dark" :multi-line="'multi-line'" top v-model="err.message">
                            <span class="yellow--text">{{ err.message }}</span>
                        </v-snackbar>

                        <v-container grid-list-md>
                            <v-layout wrap>
                                <!-- row -->
                                <v-flex xs12 md4>
                                    <v-text-field :rules="[v => !!v || 'First name is required',]" :class="{'input-group--error error--text' : !!err.first_name }"
                                        v-model="newTeachersData.first_name" label="First name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-text-field :rules="[v => !!v || 'Last name is required',]" :class="{'input-group--error error--text' : !!err.last_name }"
                                        v-model="newTeachersData.last_name" label="Last name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-text-field :rules="[v => !!v || 'Username is required',]" :class="{'input-group--error error--text' : !!err.username }"
                                        v-model="newTeachersData.username" label="username"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field :rules="[v => !!v || 'email is required',]" :class="{'input-group--error error--text' : !!err.email }"
                                        v-model="newTeachersData.email" label="email"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field :rules="[v => !!v || 'Phone number is required',]" :class="{'input-group--error error--text' : !!err.phone_number }"
                                        v-model="newTeachersData.phone_number" label="Phone number"></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field v-model="newTeachersData.passport" :rules="[v => !!v || 'Passport/Id number is required',]"
                                        :class="{'input-group--error error--text' : !!err.passport }" label="Passport / Id Number"></v-text-field>
                                </v-flex>
                                <!-- row -->
                                <v-flex xs12 md12>
                                    <v-radio-group label="Gender" :rules="[v => !!v || 'Gender is required',]" :class="{'input-group--error error--text' : !!err.gender }"
                                        v-model="newTeachersData.gender">
                                        <v-radio label="Male" value="male"></v-radio>
                                        <v-radio label="Female" value="female"></v-radio>
                                    </v-radio-group>
                                </v-flex>
                                <!-- row -->
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="addDialog = false">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="saveTeacher()">
                            <span v-if="!addingTeacher">Save</span>
                            <v-progress-circular v-if="addingTeacher" indeterminate color="primary"></v-progress-circular>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <!-- details dialog -->
            <v-dialog v-model="dialog" max-width="650px">
                <v-card>
                    <v-card-text>
                        <v-container fluid grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 md5>
                                    <v-card-media v-if="!!TeachersData.profile_picture" :src="'/images/uploads/'+TeachersData.profile_picture"
                                        height="125px" contain></v-card-media>
                                    <v-card-media v-else src="/images/uploads/profile.jpg" height="125px" contain></v-card-media>
                                </v-flex>
                                <v-flex xs12 md7 class="text-md-left text-xs-center">
                                    <div>
                                        <div class="headline">{{TeachersData.first_name}} {{TeachersData.last_name}}</div>
                                        <div class="grey--text">{{TeachersData.gender}}</div>
                                        <div class="grey--text">{{TeachersData.email}}</div>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-container>

                        <v-container>
                            <v-layout wrap>
                                <v-flex xs12 md6>
                                    <v-list two-line>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">person</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>username</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    {{TeachersData.username}}
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>

                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">phone</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Phone</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    {{TeachersData.phone_number}}
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>

                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">center_focus_strong</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Passport/id number</v-list-tile-sub-title>
                                                <v-list-tile-title>
                                                    {{TeachersData.passport}}
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </v-list>
                                </v-flex>

                                <v-flex xs12 md6>
                                    <v-list two-line>
                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">subject</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Subjects</v-list-tile-sub-title>
                                                <!-- <v-list-tile-title>
                                                    Geography
                                                </v-list-tile-title>
                                                <v-list-tile-title>
                                                    Mathematics
                                                </v-list-tile-title> -->
                                                <v-progress-circular v-if="subjectsLoading" indeterminate color="primary"></v-progress-circular>

                                            </v-list-tile-content>
                                        </v-list-tile>

                                        <v-list-tile>
                                            <v-list-tile-action>
                                                <v-icon color="indigo">business</v-icon>
                                            </v-list-tile-action>
                                            <v-list-tile-content>
                                                <v-list-tile-sub-title>Other Roles</v-list-tile-sub-title>
                                                <v-progress-circular v-if="rolesLoading" indeterminate color="primary"></v-progress-circular>
                                                <v-list-tile-title>
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </v-list>
                                </v-flex>
                                <!-- <v-flex xs12 md6>
                                    <h3 class="grey--text">Other Roles</h3>
                                    <v-progress-circular v-if="rolesLoading" indeterminate color="primary"></v-progress-circular>
                                </v-flex> -->
                            </v-layout>
                        </v-container>

                    </v-card-text>

                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-btn color="accent" flat @click.native="delete_teacher(TeachersData)">Delete</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="open_editDialog(TeachersData)">edit</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="dialog = false">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>



        </v-container>
    </div>
</template>

<script>
    export default {
        data: () => ({
            listLoaded: true,
            TeachersData: [],
            subjectsLoading: true,
            rolesLoading: true,
            dialog: false,
            addDialog: false,
            editDialog: false,
            addingTeacher: false,
            newTeachersData: [],
            err: {},
            errors: {},
            headers: [{
                    text: 'Photo',
                    sortable: false,
                    value: 'Photo'
                },
                {
                    text: 'Name',
                    value: 'first_name'
                },
                {
                    text: 'Email',
                    value: 'email'
                },
                {
                    text: 'Actions',
                    sortable: false,
                    value: '',
                    align: 'right'
                },
            ],
            Teachers: []
        }),
        methods: {
            getTeachers() {
                this.listLoaded = false;
                axios.get('api/teacher').then(response => {
                    this.Teachers = response.data;
                    this.listLoaded = true;
                }).catch(err => console.log(err))

            },
            saveTeacher() {},
            editTeacher() {},
            open_addDialog() {
                this.addDialog = true
            },
            open_dialog(TeachersData) {
                this.dialog = true
                this.TeachersData = TeachersData
            },
            open_editDialog(TeachersData) {
                this.editDialog = true
                this.TeachersData = TeachersData
            },
            delete_teacher(TeachersData) {}
        },
        created() {
            this.getTeachers();
        }
    }

</script>
