.bg-image {
    background-image: url('../images/backgrounds/office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-1 {
    background-image: url('../images/backgrounds/apple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-2 {
    background-image: url('../images/backgrounds/technology-3224640_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}